name: Release GameLinkFinder

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.3'

      - name: Install dependencies
        run: pip install pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --noconsole --onefile --add-data "games.db;." psl_finder.py

      - name: Upload EXE to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: psl_finder.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
